<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhangyu.server.mapper.AdminRoleMapper">

    <resultMap id="BaseResultMap" type="com.zhangyu.server.pojo.AdminRole">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="adminid" column="adminId" jdbcType="INTEGER"/>
            <result property="rid" column="rid" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,adminId,rid
    </sql>

    <!-- 更新操作员角色 -->
    <insert id="addAdminRole">
        insert into t_admin_role(adminid, rid) values
        <foreach collection="rids" item="rid" separator=",">
            (#{adminId}, #{rid})
        </foreach>
    </insert>
</mapper>
