<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhangyu.server.mapper.DepartmentMapper">

    <resultMap id="BaseResultMap" type="com.zhangyu.server.pojo.Department">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="parentid" column="parentId" jdbcType="INTEGER"/>
            <result property="deppath" column="depPath" jdbcType="VARCHAR"/>
            <result property="enabled" column="enabled" jdbcType="TINYINT"/>
            <result property="isparent" column="isParent" jdbcType="TINYINT"/>
    </resultMap>

    <!-- 获取所有部门 -->
    <resultMap id="DepartmentWithChildren" type="com.zhangyu.server.pojo.Department" extends="BaseResultMap">
        <collection property="children" ofType="com.zhangyu.server.pojo.Department"
                    select="com.zhangyu.server.mapper.DepartmentMapper.getAllDepartments" column="id">
        </collection>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,parentId,
        depPath,enabled,isParent
    </sql>
    <select id="getAllDepartments" resultMap="DepartmentWithChildren">
        select
        <include refid="Base_Column_List"/>
        from t_department
        where parentId = #{parentId}
    </select>
</mapper>
