<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhangyu.server.mapper.JoblevelMapper">

    <resultMap id="BaseResultMap" type="com.zhangyu.server.pojo.Joblevel">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="titlelevel" column="titleLevel" jdbcType="OTHER"/>
            <result property="createdate" column="createDate" jdbcType="TIMESTAMP"/>
            <result property="enabled" column="enabled" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,titleLevel,
        createDate,enabled
    </sql>
</mapper>
