<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhangyu.server.mapper.MenuMapper">

    <resultMap id="BaseResultMap" type="com.zhangyu.server.pojo.Menu">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="url" column="url" jdbcType="VARCHAR"/>
            <result property="path" column="path" jdbcType="VARCHAR"/>
            <result property="component" column="component" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="iconcls" column="iconCls" jdbcType="VARCHAR"/>
            <result property="keepalive" column="keepAlive" jdbcType="TINYINT"/>
            <result property="requireauth" column="requireAuth" jdbcType="TINYINT"/>
            <result property="parentid" column="parentId" jdbcType="INTEGER"/>
            <result property="enabled" column="enabled" jdbcType="TINYINT"/>
    </resultMap>
    
    <resultMap id="Menus" type="com.zhangyu.server.pojo.Menu" extends="BaseResultMap">
        <collection property="children" ofType="com.zhangyu.server.pojo.Menu">
            <id property="id" column="id2" jdbcType="INTEGER"/>
            <result property="url" column="url2" jdbcType="VARCHAR"/>
            <result property="path" column="path2" jdbcType="VARCHAR"/>
            <result property="component" column="component2" jdbcType="VARCHAR"/>
            <result property="name" column="name2" jdbcType="VARCHAR"/>
            <result property="iconcls" column="iconCls2" jdbcType="VARCHAR"/>
            <result property="keepalive" column="keepAlive2" jdbcType="TINYINT"/>
            <result property="requireauth" column="requireAuth2" jdbcType="TINYINT"/>
            <result property="parentid" column="parentId2" jdbcType="INTEGER"/>
            <result property="enabled" column="enabled2" jdbcType="TINYINT"/>
        </collection>
    </resultMap>
    
    <resultMap id="MenusWithRole" type="com.zhangyu.server.pojo.Menu" extends="BaseResultMap">
        <collection property="roles" ofType="com.zhangyu.server.pojo.Role">
            <id property="id" column="rid" jdbcType="INTEGER"/>
            <result property="name" column="rname" jdbcType="VARCHAR"/>
            <result property="namezh" column="rnameZh" jdbcType="VARCHAR"/>
        </collection>
    </resultMap>

    <sql id="Base_Column_List">
        id,url,path,
        component,name,iconCls,
        keepAlive,requireAuth,parentId,
        enabled
    </sql>

    <!-- 根据用户id查询菜单列表 -->
    <select id="getMenusByAdminId" resultMap="Menus">
        SELECT
            DISTINCT
            m1.*,
            m2.id as id2,
            m2.url as url2,
            m2.`path` as path2,
            m2.component as component2,
            m2.name as name2,
            m2.iconcls as iconcls2,
            m2.keepalive as keepalive2,
            m2.requireauth as requireauth2,
            m2.parentid as parentid2,
            m2.enabled as enabled2
        FROM
            t_menu m1 ,
            t_menu m2 ,
            t_admin_role ar ,
            t_menu_role mr
        WHERE
            m1.id = m2.parentId
          and m2.id = mr.mid
          and mr.rid = ar.rid
          and ar.adminId = #{id}
          and m2.enabled = 1
        ORDER BY
            m2.id
    </select>

    <!-- 根据角色获取菜单列表 -->
    <select id="getMenusWithRole" resultMap="MenusWithRole">
        SELECT
            m.*,
            r.id AS rid,
            r.name AS rname,
            r.nameZh AS rnameZh
        FROM
            t_menu m,
            t_menu_role mr,
            t_role r
        WHERE
            m.id = mr.mid
          AND mr.rid = r.id
        ORDER BY
            m.id
    </select>
</mapper>
